# Default Codeowners
* @felixhoffmnn

# Settings
.github/* @felixhoffmnn
.vscode/* @felixhoffmnn

# ASWE
/mkdocs.yaml @felixhoffmnn
/docs/core.md @felixhoffmnn
/docs/use_cases/general.md @felixhoffmnn
/**/core/* @felixhoffmnn
/aswe/use_cases/general.py @felixhoffmnn

/**/navigation.md @steadl
/docs/api/calendar.md @steadl
/**/navigation.py @steadl
/aswe/api/calendar.py @steadl
/**/test_navigation.py @steadl
/tests/api/test_calendar.py @steadl

/docs/use_cases/morning_briefing.md @l7f19
/docs/api/finance.md @l7f19
/aswe/use_cases/morning_briefing.py @l7f19
/aswe/api/finance.py @l7f19
/tests/use_cases/test_morning_briefing.py @l7f19
/tests/api/test_finance.py @l7f19

/aswe/use_cases/sport.md @mFritzsch
/aswe/api/news.py @mFritzsch
/**/sport/* @mFritzsch
/aswe/use_cases/sport.py @mFritzsch
test/api/test_news.py @mFritzsch
test/api/test_basketball.py @mFritzsch
test/api/test_football.py @mFritzsch
test/api/test_f1.py @mFritzsch

/**/event.md @nbs2904
/docs/api/weather.md @nbs2904
/**/event/* @nbs2904
/**/weather/* @nbs2904
/aswe/use_cases/event.py @nbs2904

# Data
/data/vvs/* @felixhoffmnn
/data/flowcharts/** @felixhoffmnn
/data/quotes.json @felixhoffmnn
/data/user.json @felixhoffmnn

/data/finance/* @l7f19
