{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
